.LogOutBtn {
  margin-top: 4rem;
}

.log-out {
  color: #ffffffe8;
  font-size: 1.5rem;
  outline: none;
  text-decoration: none;
  transition: all 0.1s;
}

.LogOutBtn:hover .log-out {
  transition: 1s;
  font-size: 1.2rem;
}

.log-out > span {
  margin-right: 0.5rem;
}
