.TodoItem,
.TodoItem-edit {
    padding: 0.5rem;
    border-bottom: 4px solid #fff;
    margin-bottom: 1.5rem;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    width: 22rem;
    margin: 1rem auto;
}

.TodoItem-checkbox {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

.checked {
    position: relative;
}

.checked::before {
    position: absolute;
    content: "";
    left: -0.5rem;
    top: 50%;
    right: -0.5rem;
    border-top: 3px solid #f00 !important;
}

.TodoItem li {
    display: inline;
    list-style-type: none;
    font-size: 1.4rem;
}

.TodoItem button {
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 900;
    cursor: pointer;

}

.TodoItem button:first-of-type {
    color: #fbff12;
}

.TodoItem button:last-of-type {
    color: #f00;
}

.TodoItem-edit input {
    padding: 0.5rem 1rem;
    border: none;
    height: 1.5rem;
    border-radius: 12px;
    width: 13rem;
    transition: .5s;
    font-size: 1.15rem;
    font-family: inherit;
    background-color: #f5f5f5e8;
}

.TodoItem-edit button {
    border: none;
    height: 2.5rem;
    border-radius: 25px;
    width: 2.5rem;
    background-color: #fbff12;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}