.TodoList-title {
  font-size: 3rem;
  font-family: "Courgette", cursive;
  width: 15rem;
  height: 10rem;
  background-color: #fbef8a;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-10deg);
  margin: 3rem auto;
}

.TodoList-title img {
  position: absolute;
  top: 0;
  width: 2.5rem;
}

.TodoList ul {
  padding-left: 0;
}

.TodoList ul div {
  cursor: default;
}
